#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color: var(--color-background-normal);
  color: var(--color-foreground-normal);
}

#root * {
  transition: all 0.2s;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: var(--gap-small) var(--gap-normal);
  background-color: var(--color-background-light);
}

.header .buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: var(--gap-small);
}

.header #add-manual-manifest-button {
  border: none;
  padding: var(--gap-small);
  transform: rotate(45deg);
  border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  cursor: default;
}
