button#dl-utils-download-button {
  background: none;
  margin: 0;

  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #e48d01;
  font-size: 1rem;
  line-height: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button#dl-utils-download-button:hover {
  background-color: #ca7d01;
}

button#dl-utils-download-button.small-padding {
  padding: 5px;
}
